{% extends 'website/sidebar-header.html' %}
{% load static %}
 
{% block title %}
<title>Admin - Update Thumbnail</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/admin-add-video.css' %}">
{% endblock %}

{% block page-content %}
<div id="title">
    <img src="{% static 'images/01. Graphics/1x/Fichier 16mdpi.png' %}" alt="">
    <h2>Update Showreel</h2>
</div>

<form id="video-form" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="file-upload-row" style="width: 97%;">
        <div class="file-upload-container">
            <label for="">Upload Video</label>
            <div id="video-upload-container">
                <div id="video-upload-text">Faites glisser et déposez des images ou
                    importer des images depuis votre ordinateur
                </div>
                <label id="video-upload-label" for="video-upload"><img src="{% static 'images/01. Graphics\1x\Fichier 23mdpi.png' %}" alt="upload"> Upload</label>
                <input type="file" id="video-upload" name="video" accept="video/mp4, video/x-m4v, video/*">
            </div>
            <div id="video-list"></div>
        </div>
        <div class="file-upload-container">
            <label for="">Upload Thumbnail</label>
            <div id="thumbnail-upload-container">
                <div id="thumbnail-upload-text">Faites glisser et déposez des images ou
                    importer des images depuis votre ordinateur
                </div>
                <label id="thumbnail-upload-label" for="thumbnail-upload"><img src="{% static 'images/01. Graphics\1x\Fichier 23mdpi.png' %}" alt="upload"> Upload</label>
                <input type="file" id="thumbnail-upload" name="thumbnail" accept="image/*">
            </div>
            <div id="thumbnail-list"></div>
        </div>
    </div>
    <button type="submit">UPDATE</button>
</form>
{% endblock %}

{% block script %}
<script src="{% static 'js/upload-video.js' %}"></script>
<script>
    var page = 'videos-list';
</script>
{% endblock %}