{% extends 'website/sidebar-header.html' %}
{% load static %}
 
{% block title %}
<title>Admin - Delete Product</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/admin-delete-product.css' %}">
{% endblock %}

{% block page-content %}
<div id="delete-confirmation">
    <h2>Are you sure you want to delete <br>{{product.name}}?</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="DELETE" name="confirm">
        <a href="{% url 'product-info' product.id %}">CANCEL</a>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    var page = 'products-list';
</script>
{% endblock %}