{% extends 'website/sidebar-header.html' %}
{% load static %}
 
{% block title %}
<title>Admin - Reservation</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/admin-products-list.css' %}">
<link rel="stylesheet" href="{% static 'css/admin-reservations-list.css' %}">
{% endblock %}

{% block page-content %}
<div id="title">
    <img src="{% static 'images/01. Graphics/1x/Fichier 17mdpi.png' %}" alt="">
    <h2>List of Reservations</h2>
</div>

<div id="search-bar">
    <div id="left-search-container">
        <form action="" method="GET">
            {% csrf_token %}
            <div id="search-input">
                <i class="fa fa-search"></i>
                <input type="text" name="search" id="search" placeholder="Rechercher Lorem, Lorem ipsum, Lorem ipsum..." autocomplete="off">
                <input type="submit" value="SEARCH">
            </div>
        </form>
    </div>
</div>

<table id="list-table">
    <tr>
        <th>Client</th>
        <th>Materials</th>
        <th>Category</th>
        <th>Duration</th>
        <th>From</th>
        <th>To</th>
        <th></th>
        <th></th>
    </tr>
    {% for reservation in reservations %}
        {% if reservation.read == 'False' %}
            <tr style="background-color: rgba(253, 206, 2, 0.4)">
                <td><a href="{% url 'reservation-details' reservation.id %}">{{reservation.client_name}}</a></td>
                <td>{{reservation.product}}</td>
                <td>{{reservation.product.category}}</td>
                <td>{{reservation.duration}}</td>
                <td>{{reservation.start_date|date:"d/m/Y"}}</td>
                <td>{{reservation.end_date|date:"d/m/Y"}}</td>
                <td class="time">{{reservation.order_hour|time:"H:i"}}</td>
                <td class="modify">
                    <a href="{% url 'delete-reservation' reservation.id %}"><img src="{% static 'images/01. Graphics/1x/Fichier 26mdpi.png' %}" alt=""></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td><a href="{% url 'reservation-details' reservation.id %}">{{reservation.client_name}}</a></td>
                <td>{{reservation.product}}</td>
                <td>{{reservation.product.category}}</td>
                <td>{{reservation.duration}}</td>
                <td>{{reservation.start_date|date:"d/m/Y"}}</td>
                <td>{{reservation.end_date|date:"d/m/Y"}}</td>
                <td class="time">{{reservation.order_hour|time:"H:i"}}</td>
                <td class="modify">
                    <a href="{% url 'delete-reservation' reservation.id %}"><img src="{% static 'images/01. Graphics/1x/Fichier 26mdpi.png' %}" alt=""></a>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

<!-- PAGINATION -->
{% if reservations.number == None %}

{% else %}
    <div class="pagination">
        <div class="pagination-right-container">
            <p>You are on page</p>
            {% if reservations.has_previous %}
                <a href="?page=1">&lt;&lt;</a>
                <a href="?page={{reservations.previous_page_number}}">&lt;</a>
            {% else %}
                <a href="" style="pointer-events: none; color: #bbb">&lt;&lt;</a>
                <a href="" style="pointer-events: none; color: #bbb">&lt;</a>
            {% endif %}
            <p style="padding: 0px 10px 0px 5px; margin-right: 0">{{reservations.number}}</p>
            {% if reservations.has_next %}
                <a href="?page={{reservations.next_page_number}}">&gt;</a>
                <a href="?page={{reservations.paginator.num_pages}}">&gt;&gt;</a>
            {% else %}
                <a href="" style="pointer-events: none; color: #bbb">&gt;</a>
                <a href="" style="pointer-events: none; color: #bbb">&gt;&gt;</a>
            {% endif %}
        </div>
    </div>
{% endif %}
{% endblock %}

{% block script %}
<script>
    var page = 'reservations-list';
</script>
{% endblock %}