{% extends 'website/sidebar-header.html' %}
{% load static %}
 
{% block title %}
<title>Admin - Products list</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/admin-products-list.css' %}">
{% endblock %}

{% block page-content %}

{% for message in messages %}
    <span  {% if message.tags %} id="{{message.tags}}-message" {% endif %}>
        {{message}}
    </span>
{% endfor %}

<div id="title">
    <img src="{% static 'images/01. Graphics/1x/Fichier 16mdpi.png' %}" alt="">
    <h2>Product List</h2>
</div>

<div id="search-bar">
    <div id="left-search-container">
        <form action="" method="GET">
            {% csrf_token %}
            <div id="search-input">
                <i class="fa fa-search"></i>
                <input type="text" name="search" id="search" placeholder="Search by Name or Category" autocomplete="off">
                <input type="submit" value="SEARCH">
            </div>
        </form>
    </div>
    <div id="right-search-container">
        <a href="{% url 'add-product' %}"><span>&#43;</span><span>Nouvelle</span></a>
    </div>
</div>

<table id="list-table">
    <tr>
        <th></th>
        <th>Product Name</th>
        <th>Category</th>
        <th>1 Day Price</th>
        <th>3 Days Price</th>
        <th>7 Days Price</th>
        <th></th>
        <th></th>
    </tr>
    {% for product in products %}
        <tr>
            <td class="product-image"><img src="{{product.productimage_set.first.image.url}}" alt=""></td>
            <td><a href="{% url 'product-info' product.id %}">{{product.name}}</a></td>
            <td>{{product.category}}</td>
            <td>{{product.price_day_1|floatformat:"0"}} dh/jour</td>
            <td>{{product.price_day_3|floatformat:"0"}} dh/jour</td>
            <td>{{product.price_day_10|floatformat:"0"}} dh/jour</td>
            <td class="modify">
                <a href="{% url 'update-product' product.id %}"><img src="{% static 'images/01. Graphics/1x/Fichier 27mdpi.png' %}" alt=""></a>
            </td>
            <td class="modify">
                <a href="{% url 'delete-product' product.id %}"><img src="{% static 'images/01. Graphics/1x/Fichier 26mdpi.png' %}" alt=""></a>
            </td>
        </tr>
    {% endfor %}
</table>

{% if products.number == None %}

{% else %}
    <div class="pagination">
        <!-- <p>1 to 2 of {{products.paginator.num_pages}} pages</p> -->
        <div class="pagination-right-container">
            <p>You are on page</p>
            {% if products.has_previous %}
                <a href="?page=1">&lt;&lt;</a>
                <a href="?page={{products.previous_page_number}}">&lt;</a>
            {% else %}
                <a href="" style="pointer-events: none; color: #bbb">&lt;&lt;</a>
                <a href="" style="pointer-events: none; color: #bbb">&lt;</a>
            {% endif %}
            <p style="padding: 0px 10px 0px 5px; margin-right: 0">{{products.number}}</p>
            <!-- <select name="page" id="page">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select> -->

            {% if products.has_next %}
                <a href="?page={{products.next_page_number}}">&gt;</a>
                <a href="?page={{products.paginator.num_pages}}">&gt;&gt;</a>
            {% else %}
                <a href="" style="pointer-events: none; color: #bbb">&gt;</a>
                <a href="" style="pointer-events: none; color: #bbb">&gt;&gt;</a>
            {% endif %}
        </div>
    </div>
{% endif %}

{% endblock %}

{% block script %}
<script>
    var page = 'products-list';
</script>
{% endblock %}
