{% extends 'website/sidebar-header.html' %}
{% load static %}
 
{% block title %}
<title>Admin - Messages</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/admin-messages.css' %}">
{% endblock %}

{% block page-content %}
<div id="title">
    <img src="{% static 'images/01. Graphics/1x/Fichier 20mdpi.png' %}" alt="">
    <h2>Messages</h2>
</div>

<div id="inbox-container">
    <div id="left-container">
        <div id="inbox-title">
            <h3>Conversations</h3>
        </div>
        <div id="received-messages">
            {% for message in messages %}
                {% if message.read == 'False' %}
                    <!-- FUNCTION ONCLICK: updateRead('{{message.id}}'); -->
                    <div style="background-color: rgba(253, 206, 2, 0.4);" id="message-{{message.id}}" class="message-demo" onclick="readMessage(event, '{{message.id}}');">
                        <img src="{% static 'images/02. Photos/Fichier 19mdpi.png' %}" alt="">
                        <div class="message-info">
                            <div class="message-header">
                                <h4>{{message.client_name}}</h4>
                                <h5>{{message.date_sent|date:"d/m/Y"}}</h5>
                            </div>
                            <p>{{message.shortMessage}}...</p>
                        </div>
                    </div>
                {% else %}
                    <div class="message-demo" onclick="readMessage(event, '{{message.id}}')">
                        <img src="{% static 'images/02. Photos/Fichier 19mdpi.png' %}" alt="">
                        <div class="message-info">
                            <div class="message-header">
                                <h4>{{message.client_name}}</h4>
                                <h5>{{message.date_sent|date:"d/m/Y"}}</h5>
                            </div>
                            <p>{{message.shortMessage}}...</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% for message in messages %}
        <div class="right-container" id="{{message.id}}">
            <div id="client-name">
                <img src="{% static 'images/02. Photos/Fichier 19mdpi.png' %}" alt="">
                <h4>{{message.client_name}}</h4>
            </div>
            <div id="message-text">
                <img src="{% static 'images/02. Photos/Fichier 19mdpi.png' %}" alt="">
                <div id="message-area">
                    <h4>Contacts Form</h4>
                    <div class="form-details">
                        <p>Name</p>
                        <p>{{message.client_name}}</p>
                    </div>
                    <div class="form-details">
                        <p>Email</p>
                        <p>{{message.client_email}}</p>
                    </div>
                    <div class="form-details">
                        <p>Phone</p>
                        <p>{{message.phoneNumber}}</p>
                    </div>
                    <div class="form-details">
                        <p>Message</p>
                        <p>{{message.message}}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/messages.js' %}"></script>
<script>
    var page = 'messages';

    function updateRead(id) {
        $.ajax({
            url: "{% url 'update-message-read' %}?message_id=" + id,
            type: "POST",
            data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            success: function(response, id) {
            // If the request was successful, update the page content
            //   $("#my-model-field").text(response.new_value);
                read = response.read;
                document.getElementById('message-'+id).style.backgroundColor = '#e8f6fa';
            },
            error: function(xhr, status, error) {
            // If the request failed, log the error
            console.log(error);
            }
        });
    }
</script>


{% endblock %}
