{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static 'images/01. Graphics/1x/FavIcon.png' %}">
        <title>SmileProd - Materials</title>
        <link rel="stylesheet" href="{% static 'css/materials.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        {% include 'website/header.html' %}

        <div class="page-header-container">
            <h1 class="page-header">equipment</h1>
            <h1 class="page-header" style="margin-left: 435px">Rental</h1>
        </div>

        <div class="equipment-catalog">
            <div class="filter-menu">
                <ul>
                    <li><a href="{% url 'materials' %}">All</a></li>
                    <li><a href="?category=Camera%20Video">Camera Video</a></li>
                    <li><a href="?category=Category1">Category 1</a></li> <!-- Audio -->
                    <li><a href="?category=Category2">Category 2</a></li> <!-- Lighting -->
                    <li><a href="#">Others</a></li>
                </ul>
            </div>

            <div class="equipment-catalog-list">
                {% for product in products %}
                    <div class="equipment-catalog-item">
                        <a href="{% url 'product' product.id %}"><img src="{{product.productimage_set.first.image.url}}" alt=""></a>
                        <div class="description">
                            <h2>{{product.name}}</h2>
                            <table>
                                <tr>
                                    <th>Type</th>
                                    <th>Type</th>
                                </tr>
                                <tr>
                                    <td>{{product.category}}</td>
                                    <td>Camera</td>
                                </tr>
                                <tr>
                                    <td>Brands</td>
                                    <td>Brands</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="view-all">
                <a href="#">View All</a>
            </div>
        </div>

        {% include 'website/lets-talk.html' %}

        {% include 'website/footer.html' %}
    </body>
</html>