{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static 'images/01. Graphics/1x/FavIcon.png' %}">
        <title>SmileProd - Product X</title>
        <link rel="stylesheet" href="{% static 'css/product.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        {% include 'website/header.html' %}

        <div class="container">
            <div class="description">
                <h2>Description</h2>
                <div class="full-frame">
                    <h4>Full-frame creativity</h4>
                    <p>{{product.description}}</p>
                </div>
                <h4>Key Features</h4>
                <p>{{product.features}}</p>
            </div>
            <div class="images">
                {% for image in product.productimage_set.all %}
                    <div class="slides fade">
                        <img src="{{image.image.url}}" alt="">
                    </div>
                {% endfor %}
                <div class="slide-menu">
                    <a class="prev" onclick="plusSlides(-1)">Prev</a>
                    <span id="image-count">1/{{image_count}}</span>
                    <a class="next" onclick="plusSlides(1)">Next</a>
                </div>
            </div>




            <div class="prices">
                <h2>{{product.name}}</h2>
                <p style="margin-bottom: 40px">{{product.summary}}</p>
                <h4>FIND YOUR DEAL</h4>
                <form id="reserve-form" action="" method="POST">
                    <div class="radio-button-container">
                        <label class="custom-radio-button">
                            <input type="radio" id="1day" name="duration" value="1 Day" onclick="setPrice()" checked>
                            <span class="checkmark"></span>
                        </label>
                        <label for="1day">1 Day</label>
                    </div>
                    <div class="radio-button-container">
                        <label class="custom-radio-button">
                            <input type="radio" id="3days" name="duration" value="3 Days" onclick="setPrice()" >
                            <span class="checkmark"></span>
                        </label>
                        <label for="3days">3 Days</label>
                    </div>
                    <div class="radio-button-container">
                        <label class="custom-radio-button">
                            <input type="radio" id="7days" name="duration" value="7 Days" onclick="setPrice()" >
                            <span class="checkmark"></span>
                        </label>
                        <label for="7days">7 Days</label>
                    </div>
                    <div class="radio-button-container">
                        <label class="custom-radio-button">
                            <input type="radio" id="10days" name="duration" value="10 Days" onclick="setPrice()" >
                            <span class="checkmark"></span>
                        </label>
                        <label for="10days">10 Days</label>
                    </div>


                    <h4 id="price">{{product.price_day_1}} MAD</h4>
                    <h5><span id="old-price"></span><span id="new-price"></span></h5>

                    <p>ADD TO BAG</p>
                    <!-- <button type="submit">reserve</button> -->
                    <a href="{% url 'reserve' product.id %}">RESERVE</a>
                </form>
            </div>
        </div>

        {% include 'website/footer.html' %}

        <script src="{% static 'js/product.js' %}"></script>      

        <!-- PRICE SCRIPT -->
        <script>
            var text = document.getElementById('price');
            var old_price = document.getElementById('old-price');
            var new_price = document.getElementById('new-price');
            var day1Price = {{ product.price_day_1 }};
            text.innerHTML = (day1Price).toLocaleString('en', {minimumFractionDigits: 2, maximumFractionDigits: 2}) + " MAD";

            function setPrice() {
                selectedValue = document.querySelector('input[name="duration"]:checked').value;
                var day3Price = {{ product.price_day_3 }};
                var day10Price = {{ product.price_day_10 }};

                if (selectedValue == "1 Day") {
                    price = day1Price;
                    day_price = 0;
                } else if (selectedValue == "3 Days") {
                    price = day3Price * 3;
                    day_price = day3Price;
                } else if (selectedValue == "7 Days") {
                    price = day3Price * 7;
                    day_price = day3Price;
                } else if (selectedValue == "10 Days") {
                    price = day10Price * 10;
                    day_price = day10Price;
                }
                text.innerHTML = (price).toLocaleString('en', {minimumFractionDigits: 2, maximumFractionDigits: 2}) + " MAD";
                if (day_price == 0) {
                    old_price.innerHTML = "";
                    new_price.innerHTML = "";
                } else {
                    old_price.innerHTML = (day1Price).toLocaleString('en', {minimumFractionDigits: 2, maximumFractionDigits: 2}) + " MAD/day";
                    new_price.innerHTML = (day_price).toLocaleString('en', {minimumFractionDigits: 2, maximumFractionDigits: 2}) + " MAD/day";
                }

            }
        </script>
    </body>
</html>