{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="{% static 'images/01. Graphics/1x/FavIcon.png' %}">
        <title>SmileProd - Reserve</title>
        <link rel="stylesheet" href="{% static 'css/reserve.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body onload="javascript:updatePrice()">
        {% include "website/header.html" %}

        <h2>WRITE YOUR PERSONAL DETAILS</h2>

        <form id="reserve-form" action="" method="POST">
            {% csrf_token %}
            <div id="left-form-container">
                <div class="radio-container">
                    <div class="radio-button-container">
                        <label class="custom-radio-button">
                            <input type="radio" id="personal" name="client_status" value="personal" onclick="statusMessage(); updatePrice();" checked>
                            <span class="checkmark"></span>
                        </label>
                        <label for="personal">personal</label>
                    </div>
                    <div class="radio-button-container">
                        <label class="custom-radio-button">
                            <input type="radio" id="business" name="client_status" value="business" onclick="statusMessage(); updatePrice();">
                            <span class="checkmark"></span>
                        </label>
                        <label for="business">business</label>
                    </div>
                    <div class="radio-button-container">
                        <label class="custom-radio-button">
                            <input type="radio" id="student" name="client_status" value="student" onclick="statusMessage(); updatePrice();">
                            <span class="checkmark"></span>
                        </label>
                        <label for="student">student</label>
                    </div>
                </div>
                <p id="student-message">student's discount</p>
                <div class="text-input-container">
                    <div class="form-row">
                        <div class="form-cell">
                            <label for="name">Full Name</label>
                            <input type="text" name="client_name" placeholder="Ismail Fathallah" required>
                        </div>
                        <div class="form-cell">
                            <label for="email">Email</label>    
                            <input type="text" name="client_email" placeholder="ismail@gmail.com"  required>
                        </div>
                    </div>
                    <div class="form-row" id="phone-row">
                        <div class="form-cell">
                            <label for="address">Address</label>
                            <input type="text" name="client_address" placeholder="24 Rue Abtal, Agdal" required>
                        </div>
                        <div id="prefix" class="form-cell">
                            <label for="prefix">Prefix</label>
                            <input type="tel" name="client_prefix" pattern="^\+[0-9]{1,3}$" placeholder="+212" required>
                        </div>
                        <div class="form-cell">
                            <label for="phone">Phone</label>
                            <input type="tel" name="client_phone" pattern="^[0-9]{9,10}$" placeholder="0622334455" required>
                        </div>
                    </div>
                    <div class="form-row" id="business-container">
                        <div class="form-cell">
                            <label for="client_business">Business Name</label>
                            <input type="text" name="client_business" placeholder="Oppo">
                        </div>
                    </div>
                    <!-- <div class="form-row">

                    </div> -->
                </div>    
            </div>
            <div id="right-form-container">
                <div class="date-row">
                    <label for="start">First Day</label>
                    <!-- <input type="date" name="start_date" id="start" value="{{start}}" min="{{start}}" max="{{max}}"> -->
                    <input type="date" name="start_date" id="start" value="{{ today|date:'Y-m-d' }}" min="{{ today|date:'Y-m-d' }}" onchange="updateEndDate(); updatePrice();">

                </div>
                <div class="date-row">
                    <label for="last-day">Last Day</label>
                    <input type="date" name="end_date" id="end" value="{{ tomorrow|date:'Y-m-d' }}" min="{{ tomorrow|date:'Y-m-d' }}" onchange="updatePrice();">
                </div>
                <div class="total-amount">
                    <p><span id="product-price">{{product.price_day_1}}</span> MAD * <span id="days">1</span> day</p>
                    <hr>
                    <p><span id="total-price">{{product.price_day_1}}</span> MAD</p>
                </div>
                <div class="form-button">
                    <button type="submit">reserve</button>
                </div>
            </div>

        </form>
        
        <script>
        // STUDENT DISCOUNT MESSAGE
            function statusMessage() {
                var client_status = document.querySelector('input[name="client_status"]:checked').value;
                let message = document.getElementById('student-message');
                let business = document.getElementById('business-container');
                if (client_status == "student") {
                    message.innerHTML = '*students have a discount of {{product.student_promotion}}%';
                    message.style.visibility = 'visible';
                    business.style.visibility = 'hidden';
                } else if(client_status == "business") {
                    business.style.visibility = 'visible';
                    message.style.visibility = 'hidden';
                } else {
                    business.style.visibility = 'hidden';
                    message.style.visibility = 'hidden';
                }
            }

        // DATE FIELDS
            var today = new Date();
            var tomorrow = new Date(today.getTime() + 24 * 60 * 60 * 1000);

            // Format the dates as YYYY-MM-DD strings
            var todayStr = today.toISOString().substr(0, 10);
            var tomorrowStr = tomorrow.toISOString().substr(0, 10);

            // Set the default values and minimum date for the input fields
            document.getElementById("start").value = todayStr;
            document.getElementById("start").min = todayStr;
            document.getElementById("end").value = tomorrowStr;
            document.getElementById("end").min = tomorrowStr;

            function updateEndDate() {
                // Get the value of the start_date input field
                var startDate = new Date(document.getElementById("start").value);

                // Calculate the day after the start date
                var endDate = new Date(startDate.getTime() + 24 * 60 * 60 * 1000);
                var endDateStr = endDate.toISOString().substr(0, 10);

                // Update the end_date input field's value and minimum date
                document.getElementById("end").value = endDateStr;
                document.getElementById("end").min = endDateStr;
            }

        // PRICE PREVIEW
            function updatePrice() {
                var product_price = document.getElementById('product-price');
                var days = document.getElementById('days');
                var total_price = document.getElementById('total-price');
                var client_status = document.querySelector('input[name="client_status"]:checked').value;

                var studentPromotion = {{ product.student_promotion}};
                studentPromotion = studentPromotion * 0.01;
                var day1Price = {{ product.price_day_1 }};
                var day1PriceStudent = day1Price - (day1Price * studentPromotion);
                var day3Price = {{ product.price_day_3 }};
                var day3PriceStudent = day3Price - (day3Price * studentPromotion);
                var day10Price = {{ product.price_day_10 }};
                var day10PriceStudent = day10Price - (day10Price * studentPromotion);

                var start_date = new Date(document.getElementById('start').value);
                var end_date = new Date(document.getElementById('end').value);
                var duration = end_date.getTime() - start_date.getTime();
                duration = duration / (1000 * 60 * 60 * 24);
                console.log(duration)
                if (client_status == 'student') {
                    if (duration < 3) {
                        price = day1PriceStudent;
                    } else if (duration < 10) {
                        price = day3PriceStudent;
                    } else if (duration >= 10) {
                        price = day10PriceStudent;
                    }  
                } else {
                    if (duration < 3) {
                        price = day1Price;
                    } else if (duration < 10) {
                        price = day3Price;
                    } else if (duration >= 10) {
                        price = day10Price;
                    }
                }

                product_price.innerHTML = (price).toLocaleString('en', {minimumFractionDigits:2, maximumFractionDigits:2});
                days.innerHTML = duration;
                total = price * duration;
                total_price.innerHTML = (total).toLocaleString('en', {minimumFractionDigits:2, maximumFractionDigits:2});
            }
        </script>

        {% include "website/footer.html" %}
        
    </body>
</html>